body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right,rgb(113, 222, 202), #9face6);
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #758af4;
    color: rgb(254, 254, 254);
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f4f3;
}
.inscription{
    background-color: rgba(231, 217, 217, 0.76);
    padding: 7rem;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
